@import '../../helpers.scss';

.accordion {
    position: relative;

    button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: $genericMeasure;

        img {
            width: 15px;
        }
    }

    .fontList{
        background-color: var(--background);
        border-radius: $genericMeasure * 2;
        box-shadow: rgb(170,70,239, 35%) 0px 7px 30px -6px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-width: 100%;
        padding: 20px;
        position: absolute;
        white-space: nowrap;
        z-index: 20;
    }

    li {
        list-style-type: none;

        button {
            color: var(--fontColor);
            font-family: var(--fontFamily);
            font-weight: 800;
        }

        button:hover {
            color: $purple;
        }
    }
}
